* {
  scrollbar-width: none;
}

html {
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar {
  display: none;
}
