/* CSS Custom Properties Definitions */

@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

@import "./animation.css";

/* HTML elements */
@layer base {
  *,
  ::before,
  ::after {
    box-sizing: content-box;
  }

  html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body {
    font-family: 'Noto Serif JP', 'Roboto Mono', serif;
  }

  body::before {
    animation: grain 8s steps(10) infinite;
    background-image: url("/paper-pattern.png");
    content: "";
    height: 300%;
    left: -50%;
    opacity: 0.3;
    position: fixed;
    top: -100%;
    width: 300%;
    z-index: -10;
  }
}

@layer utilities {
  @responsive {
    .xl-text {
      font-size: 1.25rem;
    }
    .column-count-none {
      column-count: unset;
    }
    .column-count-2 {
      column-count: 2;
    }
    .column-gap-12 {
      column-gap: 3rem;
    }
    .leading-loosest {
      line-height: 2 !important;
    }
  }
}
