/* CSS Custom Properties Definitions */

@import "./scrollbar.css";

@import "./animation.css";

@import "./mix-blend.css";

@import "./filter.css";

@import "./cursor.css";

@import "./arrow.css";

/* HTML elements */
@layer base {
  *,
  ::before,
  ::after {
    box-sizing: content-box;
    cursor: none !important;
  }

  html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-y: scroll;
  }

  body {
    font-family: 'Noto Serif JP', 'Roboto Mono', serif;
    font-feature-settings: "palt";
    @apply text-gray-900;
  }

  body::before {
    animation: grain 8s steps(10) infinite;
    background-image: url("/paper-pattern.png");
    content: "";
    height: 300%;
    left: -50%;
    opacity: 0.3;
    position: fixed;
    top: -100%;
    width: 300%;
    z-index: -10;
  }
}

@layer components {
  .container {
    margin-right: auto;
    margin-left: auto;
    width: calc(100vw - 4rem);
    @screen sm {
      width: calc(100vw - 6rem);
    }
    @screen md {
      width: calc(100vw - 8rem);
    }
    @screen lg {
      width: calc(100vw - 10rem);
    }
    @screen xl {
      width: calc(100vw - 12rem);
    }
  }

  .main-article-width {
    width: calc(100% - 3rem);
    @screen sm {
      width: calc(100% - 4rem);
    }
    @screen md {
      width: calc(100% - 5rem);
    }
    @screen lg {
      width: calc(100% - 6rem);
    }
    @screen xl {
      width: calc(100% - 7rem);
    }
  }
}

@layer utilities {
  .cursor-none { cursor: none; }

  .border-3 {
    border-width: 3px;
  }

  @responsive {
    .xl-text {
      font-size: 1.25rem;
    }
    .column-count-none {
      column-count: unset;
    }
    .column-count-2 {
      column-count: 2;
    }
    .column-gap-12 {
      column-gap: 3rem;
    }
    .leading-relaxed {
      line-height: 1.625 !important;
    }
    .leading-loosest {
      line-height: 2 !important;
    }
    .mandatory-scroll-snapping {
      scroll-snap-type: y mandatory;
    }
    .scroll-snap-center {
      scroll-snap-align: center;
    }
    .scrolling-touch {
      -webkit-overflow-scrolling: touch;
    }
  }
}
