/* CSS Custom Properties Definitions */

@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

/* HTML elements */

*,
:after,
:before {
  box-sizing: border-box;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: 'Noto Serif JP', serif;
}
